<div class="dashboard">
  <% flash.each do |key, value| %>
    <div class="alert">
      <%= value %>
    </div>
  <% end %>
  <div id="flash-box">
    <div></div>
  </div>
</div>

<div data-turbolinks='false'>
  <%= render 'form', appointment: @appointment, date: @date %>
</div>
