%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            = link_to 'Home', '#'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'About', '#about'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Services', '#services'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Contact', '#contact'
        %p.copyright.text-muted.small
          Copyright &copy; Your Company 2015. All Rights Reserved
