%a{name: 'about'}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1
            Landing Page
          %h3
            A Template by Start Bootstrap
          %hr.intro-divider
          %ul.list-inline.intro-social-buttons
            %li
              = link_to 'https://twitter.com/SBootstrap', class: 'btn btn-default btn-lg' do
                %i.fa.fa-twitter.fa-fw
                %span.network-name
                  Twitter
            %li
              = link_to 'https://github.com/IronSummitMedia/startbootstrap', class: 'btn btn-default btn-lg' do
                %i.fa.fa-github.fa-fw
                %span.network-name
                  Github
            %li
              = link_to '#', class: 'btn btn-default btn-lg' do
                %i.fa.fa-linkedin.fa-fw
                %span.network-name
                  LinkedIn
