%a{name: 'about'}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1
            Make Appointment and See result of Covid-19
          %h3
            An Initiative of Department of ICT, People's Republic of Bangladesh
          %hr.intro-divider
          .stat-link
            %ul.list-inline.intro-social-buttons
              %li
                = link_to new_appointment_path, class: 'btn btn-default btn-lg' do
                  %span.network-name
                    Make Appointment
                %li
                  = link_to '#', class: 'btn btn-default btn-lg' do
                    %span.network-name
                      Results
                %li
                  = link_to new_user_path, class: 'btn btn-default btn-lg' do
                    %span.network-name
                      All Appointments
