%a{name: 'about'}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h2.main-header-color
            বিশেষ নির্দেশনাঃ
          %h4.secondary-header-color
            * সংক্রামক ব্যাধি হাসপাতাল কর্তৃক করোনা টেস্ট করার জন্যে এপয়েন্টমেন্ট তৈরি (Create Appointment) করুন।
          %h4.secondary-header-color
            * প্রয়োজনীয় তথ্য পূরণ পূরণ করে সাবমিট করার পর আপনাকে একটি সিরিয়াল নাম্বার সহ রিসিট দেয়া হবে এবং সংশ্লিষ্ট মোবাইলে সিরিয়াল নাম্বার সহ এসএমএস যাবে।
          %h4.secondary-header-color
            * করোনার স্যাম্পল জমা দেবার পর আপনার রিপোর্টটি তৈরি হয়ে গেলে রিপোর্ট এর ফলাফল মোবাইলে এসএমএস করে জানিয়ে দেয়া হবে এবং রিপোর্ট এর সার্টিফিকেট সংশ্লিষ্ট ইমেইলে চলে যাবে।
          %h4.secondary-header-color
            * প্লাজমা ডোনার লিস্ট দরকার হলে হসপিটাল কর্তৃপক্ষের সাথে যোগাযোগ করতে পারেন।

          %hr.intro-divider
          .stat-link
            %ul.show-stat
              %li
                = "Total Sample Collected: " + Appointment.count.to_s
              %li
                = "Total Positive Identified: " + Appointment.total_positive.to_s
              %li
                = "Total Sample Collected in Last 24 Hours: " + Appointment.sample_collected_last_24_hours.to_s
              %li
                = "Total Positive Identified in Last 24 Hours: " + Appointment.total_positive_last_24_hours.to_s
