// Place all the styles related to the appointment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body,
html {
  background-color: #f1f4fb;
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box}

.create-appointment {
  background-color: white;
  height: 140%;
  width: 45%;
  margin: 1% 25%;
  padding: 16px;
}

.appointment-table-show {
  background-color: white;
  height: 10%;
  width: 70%;
  margin: 10% 15%;
}

.create-appointment-log-in {
  height: 70%;
}

.create-appointment-confirm {
  width: 95%;
  margin: 3% 3%;
}

.input-label {
  font-size: 16px;
}

input[type=text], input[type=datetime_select] {
  width: 95%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.submit-field {
  margin-top: 10%;
}

.submit-btn {
  display: inline;
  margin-left: 10px;
  height: 42px;
  width: 35%;
}

.submit-btn-sms {
  display: inline;
  margin-left: 0px;
  height: 35px;
  width: 90%;
}

.pdf-download {
  margin-left: 15%;
  margin-top: -5%;
}

.upload-result-file {
  display: inline;
  margin-left: 0px;
  height: 35px;
  width: 90%;
}

.reset-btn {
  display: inline;
  margin-left: 70px;
  height: 42px;
  width: 35%;
}